{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 *
 * @see bootstrap_preprocess_html()
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}
{%
  set body_classes = [
    'splash',
    logged_in ? 'user-logged-in',
    not root_path ? 'home path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
    theme.has_glyphicons ? 'has-glyphicons',
    theme.name ? theme.name|replace({'_':'-'}),
    wxt_theme ? wxt_theme|clean_class,
  ]
%}
<!DOCTYPE html>
<!--[if lt IE 9]><html{{ html_attributes.addClass('no-js') }}><![endif]-->
<!--[if gt IE 8]><!-->
<html{{ html_attributes.addClass('no-js') }}>
<!--<![endif]-->
<head>
<head-placeholder token="{{ placeholder_token|raw }}">
<title>Language selection - Natural Resources Canada / Sélection de la langue - Ressources naturelles Canada</title>
<meta name="dcterms.language" title="ISO639-2" content="eng">
<meta name="dcterms.language" lang="fr" title="ISO639-2" content="fra">
<meta name="dcterms.creator" content="Natural Resources Canada"/>
<meta name="dcterms.creator" content="Ressources naturelles Canada"/>
<css-placeholder token="{{ placeholder_token|raw }}">
<link rel="stylesheet" href="/libraries/theme-gcweb/css/messages.min.css">
<js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }} vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
  {{ page_top }}
  {{ page }}
  {{ page_bottom }}
  <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
