{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{{ splash_bg }}

{# Main #}
{% block main %}

    {# Content #}
    {%
      set content_classes = [
      ]
    %}
  {{ site_name_en }}
  {{ site_name_fr }}
    <main property="mainContentOfPage" {{ content_attributes.addClass(content_classes, 'main-container', container, 'js-quickedit-main-content') }}>

      {# Header #}
      {% if page.header %}
        {% block header %}
          {{ page.header }}
        {% endblock %}
      {% endif %}

      {# Action Links #}
      {% if action_links %}
        {% block action_links %}
          <ul class="action-links">{{ action_links }}</ul>
        {% endblock %}
      {% endif %}

      {# Content #}
      {% block content %}
        <a id="main-content"></a>
        {{ page.content }}
        {{ page.content_footer }}
      {% endblock %}

    </main>

{% endblock %}
