{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{# Background #}
<div id="bg" class="provisional" data-wb-randomize='{ "shuffle": true, "selector": "img", "toggle": "hide" }'>
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-1.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-2.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-3.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-4.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-5.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-6.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-7.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-8.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-9.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-10.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-11.jpg" alt="">
  <img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-12.jpg" alt="">
</div>

{# Main #}
{% block main %}

    {# Content #}
    {%
      set content_classes = [
      ]
    %}
    <main property="mainContentOfPage" {{ content_attributes.addClass(content_classes, 'main-container', container, 'js-quickedit-main-content') }}>

      {# Header #}
      {% if page.header %}
        {% block header %}
          {{ page.header }}
        {% endblock %}
      {% endif %}

      {# Action Links #}
      {% if action_links %}
        {% block action_links %}
          <ul class="action-links">{{ action_links }}</ul>
        {% endblock %}
      {% endif %}

      {# Content #}
      {% block content %}
        <a id="main-content"></a>
        {{ page.content }}
        {{ page.content_footer }}
      {% endblock %}

    </main>

{% endblock %}
