{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */

<!--
  site_logo = {{ site_logo }}
  site_name = {{ site_name }}
  site_slogan = {{ site_slogan }}
  logo_svg = {{ logo_svg }}
  logo_home_link = {{ logo_home_link }}
-->
    <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">

    </div>

#}
{% block content %}
  {% if nrwxt_logo == true %}
    <a href="{{ logo_home_link }}" property="url" class="brand">
      <img src="{{ logo_svg }}" class="logo-{{ language }}" alt="{{ site_name }}" property="logo">
    </a>
    <link property="logo" href="{{ logo_svg }}">
  {% else %}
  <a href="{{ logo_home_link }}" property="url" class="brand">
    <img src="{{ logo_svg }}" class="logo-{{ language }}" alt="{{ 'Government of Canada'|t }}" property="logo"><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
  </a>
  <meta property="name" content="Government of Canada">
  <meta property="areaServed" typeof="Country" content="Canada">
  <link property="logo" href="{{ logo_svg }}">
  {% endif %}
{% endblock %}
