{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
<!--
site_logo = {{ site_logo }}
site_name = {{ site_name }}
site_slogan = {{ site_slogan }}
logo_svg = {{ logo_svg }}
logo_home_link = {{ logo_home_link }}
-->
<div class="brand col-xs-5 col-md-4">
  {% if site_logo %}
    <a class="logo" href="{{ logo_home_link }}" rel="home">
      <img id="header-logo" src="{{ logo_svg }}" alt="{{ 'Government of Canada'|t }}" />
    </a>
  {% endif %}
</div>
{% endblock %}
